<div class="py-5">
		<div class="row">
		  <div class="col-md-6 mx-auto">
			<span class="anchor" id="formLogin"></span>
	  
			<!-- form card login -->
			<div class="card rounded-0">
			  <div class="card text-white bg-primary">
				<h3 class="text-center text-uppercase">Deposito de Dinero</h3>
			  </div>
			  <div class="card-body">
				<form (ngSubmit)="deposito(f)" #f="ngForm" class="login-form">
				  <div class="form-group ">
					<label for="cuentaDestino" class="text-uppercase text-info">Numero de Cuenta </label>
					<input type="text" name="cuentaDestino" placeholder="Cuenta Destino Ejm : 999-999-999" id="cuentaDestino" class="form-control rounded-0 " required ngModel>
				  </div>	
				  <div class="form-group">
					<label for="monto" class="text-uppercase text-info">Monto</label>
					<input type="number" name="monto" placeholder="Monto Mayor a S/0" id="monto" class="form-control rounded-0" required ngModel>
				  </div>
				  <div class="alert alert-primary" role="alert" *ngIf="Msg">
							<label id="lblMensaje" class="lblMensaje">{{mensaje}}</label>
				  </div>
				  <div class="form-check">					
					<button type="submit" class="btn btn-success float-right">Depositar</button>
				  </div>  
				</form>
			  </div>
			  <!--/card-block-->
			</div>
			<!-- /form card login -->
		  </div>
		</div>
	  </div>
	