<div class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Iniciar Sesión</h2>
		    <form  (ngSubmit)="iniciarSesion(f)" #f="ngForm" class="login-form">
				<div class="form-group">
					<label for="usuario" class="text-uppercase">Usuario</label>
					<input type="text" name="usuario" placeholder="Usuario" id="usuario" class="form-control" required ngModel>
				</div>
				<div class="form-group">
					<label for="clave" class="text-uppercase">Password</label>
					<input type="password" name="clave" placeholder="Clave" id="clave" class="form-control" required ngModel>
        </div>
        <div class="form-group">
          <label for="tipoUsuario" class="text-uppercase">Tipo</label>
            <select name="tipoUsuario" id="tipoUsuario" size="1" class="form-control" (change)="cambioTipo($event)">
              <option value="1">Agente</option>
              <option value="2">Cliente</option>
            </select>
        </div>		
				<div>
					<label id="lblMensaje" class="lblMensaje">{{mensaje}}</label>
				</div>
				<div class="form-check">					
					<button type="submit" class="btn btn-login float-right">Iniciar</button>
				</div>  
			</form>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Banking web</h2>
            <p>Bienvenido al Banking web: banco lider del Perú y socio de tus planes. Brindamos soluciones financieras personales, para pymes y empresas.</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Consultas integracion</h2>
            <p>Consulta de Saldos y Movimientos. Consulta tus saldos y últimos movimientos de cuentas de ahorro, corriente, maestra y CTS.</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Transacciones</h2>
            <p>Banking ofrece servicios de gestión de activos, transacciones de divisas, de tesorería, de custodia, servicios de asesoramiento de inversión</p>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</div>
